.footer__image
.footer__content
  .footer__info
    p dirección:
    p C/ abichuela naranja SN
    p telefono de contacto:

  .footer__info
    p ¿has olvidado la contraseña?
    p contactanos via e-mail

  .footer__info
    p dirección:
    p C/ abichuela naranja SN

  .footer__info
    p ¿has olvidado la contraseña?
    p contactanos via e-mail

.footer__rigths
  p Página creada como prácticas de estudio por Firoh. Todos los derechos reservados.
