.login-cover#loginModal
.login-container#loginBox
  .login-box
    h2.login__tittle Peliculas Firoh
    form.login-inputs#form-login
      input.login__text#user(type="text" name="email" placeholder="Nombre de usuario o email")
      input#password.login__text(type="password" name="contraseña" placeholder="Constraseña")
      button.button.button__login#sessionInit iniciar sesión
      a.passForget ¿Olvidaste tu contraseña?
    .button.button--rounded#loginExit x
