extends template/template

block header
  include includes/search-bar
block main
  .films-container#films-container
  //- Estructura de las peliculas
  //- .film(data-imdb='akjshdkjahsd')
  //-   img.film__poster(src="https://m.media-amazon.com/images/M/MV5BYjFhN2RjZTctMzA2Ni00NzE2LWJmYjMtNDAyYTllOTkyMmY3XkEyXkFqcGdeQXVyNTA0OTU0OTQ@._V1_SX300.jpg" alt="")
  //-   .film__info
  //-     h2.film__tittle spiderman
  //-     p.film__year 1990
  //- <i class="far fa-star"></i>
block footer
  include includes/footer


